{% load static %}
<div class="main">
	<link href="{% static 'css/home.css' %}" rel="stylesheet">

	<div class="subtitle h1 text-center mt-5">
		Новости
	</div>
	<section class="news container-fluid">
		<div class="container">
			<div class="row row-cols-1 row-cols-xl-2 m-md-4 m-xl-5">
				<div class="col-12 offset-md-1 col-md-10 offset-lg-2 col-lg-8 offset-xl-0 col-xl-6 d-flex flex-column">
					<div class="news-item rounded-3 m-3 p-3 d-flex flex-column flex-grow-1">
						<div class="news-title h3">
							Название
						</div>
						<a class="news-url nav-link d-flex flex-column flex-grow-1" href="#">
							<img src="../static/images/about1.jpg" class="news-img flex-grow-1">
							<div class="news-description text fs-6 fs-lg-4 mt-2">
								Краткое описание...
							</div>
						</a>
					</div>
				</div>
				<div class="col-12 offset-md-1 col-md-10 offset-lg-2 col-lg-8 offset-xl-0 col-xl-6 d-flex flex-column">
					<div class="news-item rounded-3 m-3 p-3 d-flex flex-column flex-grow-1">
						<div class="news-title h3">
							Название
						</div>
						<a class="news-url nav-link d-flex flex-column flex-grow-1" href="#">
							<img src="../static/images/about2.jpg" class="news-img flex-grow-1">
							<div class="news-description text fs-6 fs-lg-4 mt-2">
								Краткое описание...
							</div>
						</a>
					</div>
				</div>
				<div class="col-12 offset-md-1 col-md-10 offset-lg-2 col-lg-8 offset-xl-0 col-xl-6">
					<div class="news-item rounded-3 m-3 p-3">
						<div class="news-title h3">
							Название
						</div>
						<a class="news-url nav-link" href="#">
							<img src="../static/images/about3.jpg" class="news-img">
							<div class="news-description text fs-6 fs-lg-4 mt-2">
								Краткое описание...
							</div>
						</a>
					</div>
				</div>
				<div class="col-12 offset-md-1 col-md-10 offset-lg-2 col-lg-8 offset-xl-0 col-xl-6">
					<div class="news-item rounded-3 m-3 p-3">
						<div class="news-title h3">
							Название
						</div>
						<a class="news-url nav-link" href="#">
							<img src="../static/images/about4.jpg" class="news-img">
							<div class="news-description text fs-6 fs-lg-4 mt-2">
								Краткое описание...
							</div>
						</a>
					</div>
				</div>
				<div class="col-12 offset-md-1 col-md-10 offset-lg-2 col-lg-8 offset-xl-0 col-xl-6">
					<div class="news-item rounded-3 m-3 p-3">
						<div class="news-title h3">
							Название
						</div>
						<a class="news-url nav-link" href="#">
							<img src="../static/images/about5.jpg" class="news-img">
							<div class="news-description text fs-6 fs-lg-4 mt-2">
								Краткое описание...
							</div>
						</a>
					</div>
				</div>
				<div class="col-12 offset-md-1 col-md-10 offset-lg-2 col-lg-8 offset-xl-0 col-xl-6">
					<div class="news-item rounded-3 m-3 p-3">
						<div class="news-title h3">
							Название
						</div>
						<a class="news-url nav-link" href="#">
							<img src="../static/images/main1.jpg" class="news-img">
							<div class="news-description text fs-6 fs-lg-4 mt-2">
								Краткое описание...
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>

</div>