{% load static %}
<div class="main">
	<link href="{% static 'css/about.css' %}" rel="stylesheet">

	<div class="container-fluid">
		<div class="container">
			<div class="about-container row row-cols-1 row-cols-lg-2 d-flex flex-column flex-lg-row rounded-5 mb-5 pt-4">
				<div class="col d-flex flex-column gap-4 gap-lg-0">
					<div class="info-title text text-center h3">
						Название
					</div>
					<span id="info-1" class="info-text text collapse d-md-block text-center mb-3 my-lg-auto">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non maximus mauris. In tincidunt dapibus urna, id mollis purus pulvinar id. Fusce fringilla nisl malesuada malesuada egestas. Maecenas quis rutrum justo, nec commodo neque. Suspendisse at ligula volutpat, feugiat erat et, suscipit lorem. Etiam id molestie odio. Phasellus ut sollicitudin tellus, in tristique nulla. Donec pretium lacus erat, a aliquam nibh volutpat vel. Curabitur lacinia lorem sit amet nibh sodales vestibulum.
					</span>
					<button class="btn btn-primary d-block d-md-none" type="button" data-bs-toggle="collapse" data-bs-target="#info-1" aria-expanded="false" aria-controls="info-1">
						Свернуть/Развернуть
					</button>
				</div>
				<div class="img col my-3 my-lg-auto px-2 py-0 py-lg-5">
					<img src="../static/images/about1.jpg" class="info-img">
				</div>
			</div>
			<div class="about-container row row-cols-1 row-cols-lg-2 d-flex flex-column flex-lg-row rounded-5 mb-5 pt-4">
				<div class="img col my-3 my-lg-auto px-2 py-0 py-lg-5">
					<img src="../static/images/about2.jpg" class="info-img">
				</div>
				<div class="col d-flex flex-column gap-4 gap-lg-0">
					<div class="info-title text text-center h3">
						Название
					</div>
					<span id="info-2" class="info-text text collapse d-md-block text-center mb-3 my-lg-auto">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non maximus mauris. In tincidunt dapibus urna, id mollis purus pulvinar id. Fusce fringilla nisl malesuada malesuada egestas. Maecenas quis rutrum justo, nec commodo neque. Suspendisse at ligula volutpat, feugiat erat et, suscipit lorem. Etiam id molestie odio. Phasellus ut sollicitudin tellus, in tristique nulla. Donec pretium lacus erat, a aliquam nibh volutpat vel. Curabitur lacinia lorem sit amet nibh sodales vestibulum.
					</span>
					<button class="btn btn-primary d-block d-md-none" type="button" data-bs-toggle="collapse" data-bs-target="#info-2" aria-expanded="false" aria-controls="info-2">
						Свернуть/Развернуть
					</button>
				</div>
			</div>
			<div class="about-container row row-cols-1 row-cols-lg-2 d-flex flex-column flex-lg-row rounded-5 mb-5 pt-4">
				<div class="col d-flex flex-column gap-4 gap-lg-0">
					<div class="info-title text text-center h3">
						Название
					</div>
					<span id="info-3" class="info-text text collapse d-md-block text-center mb-3 my-lg-auto">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non maximus mauris. In tincidunt dapibus urna, id mollis purus pulvinar id. Fusce fringilla nisl malesuada malesuada egestas. Maecenas quis rutrum justo, nec commodo neque. Suspendisse at ligula volutpat, feugiat erat et, suscipit lorem. Etiam id molestie odio. Phasellus ut sollicitudin tellus, in tristique nulla. Donec pretium lacus erat, a aliquam nibh volutpat vel. Curabitur lacinia lorem sit amet nibh sodales vestibulum.
					</span>
					<button class="btn btn-primary d-block d-md-none" type="button" data-bs-toggle="collapse" data-bs-target="#info-3" aria-expanded="false" aria-controls="info-3">
						Свернуть/Развернуть
					</button>
				</div>
				<div class="img col my-3 my-lg-auto px-2 py-0 py-lg-5">
					<img src="../static/images/about3.jpg" class="info-img">
				</div>
			</div>
			<div class="about-container row row-cols-1 row-cols-lg-2 d-flex flex-column flex-lg-row rounded-5 mb-5 pt-4">
				<div class="img col my-3 my-lg-auto px-2 py-0 py-lg-5">
					<img src="../static/images/about4.jpg" class="info-img">
				</div>
				<div class="col d-flex flex-column gap-4 gap-lg-0">
					<div class="info-title text text-center h3">
						Название
					</div>
					<span id="info-4" class="info-text text collapse d-md-block text-center mb-3 my-lg-auto">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non maximus mauris. In tincidunt dapibus urna, id mollis purus pulvinar id. Fusce fringilla nisl malesuada malesuada egestas. Maecenas quis rutrum justo, nec commodo neque. Suspendisse at ligula volutpat, feugiat erat et, suscipit lorem. Etiam id molestie odio. Phasellus ut sollicitudin tellus, in tristique nulla. Donec pretium lacus erat, a aliquam nibh volutpat vel. Curabitur lacinia lorem sit amet nibh sodales vestibulum.
					</span>
					<button class="btn btn-primary d-block d-md-none" type="button" data-bs-toggle="collapse" data-bs-target="#info-4" aria-expanded="false" aria-controls="info-4">
						Свернуть/Развернуть
					</button>
				</div>
			</div>
			<div class="about-container row row-cols-1 row-cols-lg-2 d-flex flex-column flex-lg-row rounded-5 pt-4">
				<div class="col d-flex flex-column gap-4 gap-lg-0">
					<div class="info-title text text-center h3">
						Название
					</div>
					<span id="info-5" class="info-text text collapse d-md-block text-center mb-3 my-lg-auto">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non maximus mauris. In tincidunt dapibus urna, id mollis purus pulvinar id. Fusce fringilla nisl malesuada malesuada egestas. Maecenas quis rutrum justo, nec commodo neque. Suspendisse at ligula volutpat, feugiat erat et, suscipit lorem. Etiam id molestie odio. Phasellus ut sollicitudin tellus, in tristique nulla. Donec pretium lacus erat, a aliquam nibh volutpat vel. Curabitur lacinia lorem sit amet nibh sodales vestibulum.
					</span>
					<button class="btn btn-primary d-block d-md-none" type="button" data-bs-toggle="collapse" data-bs-target="#info-5" aria-expanded="false" aria-controls="info-5">
						Свернуть/Развернуть
					</button>
				</div>
				<div class="img col my-3 my-lg-auto px-2 py-0 py-lg-5">
					<img src="../static/images/about5.jpg" class="info-img">
				</div>
			</div>
		</div>
	</div>

	<!-- <script src="{% static 'js/example.js' %}" defer></script> -->
</div>