<footer class="footer border-top border-black border-5">
	<div class="container-fluid">
		<div class="container d-flex justify-content-center align-items-center py-5">
			<a class="d-flex align-items-center navbar-brand" x-on:click.prevent="goHome() || loadPage('home')" :href="urlNames.home.url">
				<img src="../static/images/icon1.jpg" class="icon-logo rounded-3">
			</a>
		</div>
		<div class="container d-flex justify-content-center align-items-center pb-5">
			<span class="text-body-secondary text-center">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non maximus mauris.
				<br>
				In tincidunt dapibus urna, id mollis purus pulvinar id.
				<br>
				2024
			</span>
		</div>
	</div>
</footer>