<div class="modal fade" id="profile" tabindex="-1" aria-labelledby="Аккаунт" aria-hidden="true" x-on:show-bs-modal.dot="isProfileOpen = true" x-on:hide-bs-modal.dot="isProfileOpen = false">
	<div class="modal-dialog modal-dialog-centered modal-fullscreen-lg-down modal-lg">
		<div class="modal-content">
			<div class="modal-header py-1">
				<a class="d-flex align-items-center {% if testQ %}visible{% else %}invisible{% endif %}">
					<img src="../static/svg/crown.svg" class="icon-logo d-inline-block m-0">
				</a>
				<h1 id="profile-title" class="modal-title fs-2" x-text="profileTitle"></h1>
				<button type="button" class="btn-close m-0" data-bs-dismiss="modal" aria-label="Закрыть"></button>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row mb-3">
						<div class="col-12 text-center">
							<img src="../static/images/profile.png" class="icon-profile d-inline-block m-0">
						</div>
					</div>
					<div class="row offset-1 col-10">
						<div id="profile-form" class="container" x-html="profileForm">
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
			</div>
		</div>
	</div>
</div>